{
  "openapi": "3.1.0",
  "info": {
    "title": "Credipay API",
    "description": "",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.pre.credix.finance",
      "description": "Sandbox"
    },
    {
      "url": "https://api.credix.finance",
      "description": "Production"
    }
  ],
  "paths": {
    "/v2/credit-limit/request": {
      "post": {
        "tags": [
          "Credit Limit"
        ],
        "summary": "Solicitar um limite de crédito",
        "description": "Solicite um limite de crédito para um comprador específico pela primeira vez. Se for necessário limite adicional, use o endpoint de aumento de limite.",
        "operationId": "credit_underwrite_request_risk_engine_credit_underwrite_request_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditUnderwritingRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Solicitação de limite de crédito recebida e será processada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditUnderwritingResponseDTO"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/credit-limit/request/{creditUnderwritingId}": {
      "get": {
        "tags": [
          "Credit Limit"
        ],
        "summary": "Obter uma solicitação de limite de crédito",
        "description": "Obtenha uma solicitação de limite de crédito pelo ID (UUID)",
        "operationId": "get_credit_underwrite_request_risk_engine_credit_underwrite_request__creditUnderwritingId__get",
        "parameters": [
          {
            "name": "creditUnderwritingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Identificador único da solicitação de análise de crédito",
              "title": "Creditunderwritingid"
            },
            "description": "Identificador único da solicitação de análise de crédito",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "responses": {
          "200": {
            "description": "Solicitação de limite de crédito recuperada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditUnderwritingResponseDTO"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/credit-limit/increase": {
      "post": {
        "tags": [
          "Credit Limit"
        ],
        "summary": "Solicitar um aumento de limite de crédito",
        "description": "Solicite um aumento de limite de crédito para um comprador específico",
        "operationId": "credit_limit_increase_request_risk_engine_credit_limit_increase_request_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditLimitIncreaseRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Solicitação de aumento de limite de crédito recebida e será processada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditLimitIncreaseResultDTO"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/credit-limit/increase/{cliRequestId}": {
      "get": {
        "tags": [
          "Credit Limit"
        ],
        "summary": "Obter uma solicitação de aumento de limite de crédito",
        "description": "Obtenha uma solicitação de aumento de limite de crédito pelo ID (UUID)",
        "operationId": "get_credit_limit_increase_request_risk_engine_credit_limit_increase_request__cliRequestId__get",
        "parameters": [
          {
            "name": "cliRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Identificador único da solicitação de aumento de limite de crédito",
              "title": "Clirequestid"
            },
            "description": "Identificador único da solicitação de aumento de limite de crédito",
            "example": "987fcdeb-51a2-43d1-9c4f-123456789abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Solicitação de aumento de limite de crédito recuperada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditLimitIncreaseResultDTO"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountCheck": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "email": {
            "type": "string",
            "title": "Email"
          },
          "phone": {
            "type": "string",
            "title": "Phone"
          },
          "active": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Active"
          },
          "created": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created"
          },
          "ipLast": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Iplast"
          },
          "ipCreated": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ipcreated"
          },
          "ipHistory": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Iphistory"
          },
          "address": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AddressCheck"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "email",
          "phone"
        ],
        "title": "AccountCheck"
      },
      "AddressCheck": {
        "properties": {
          "city": {
            "type": "string",
            "title": "City"
          },
          "house": {
            "type": "string",
            "title": "House"
          },
          "state": {
            "type": "string",
            "title": "State"
          },
          "street": {
            "type": "string",
            "title": "Street"
          },
          "country": {
            "type": "string",
            "title": "Country"
          },
          "zipCode": {
            "type": "string",
            "title": "Zipcode"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "city",
          "house",
          "state",
          "street",
          "country",
          "zipCode"
        ],
        "title": "AddressCheck"
      },
      "AdminCreditUnderwritingBatchRequestDTO": {
        "properties": {
          "buyerTaxIds": {
            "items": {
              "type": "string",
              "maxLength": 14,
              "minLength": 14
            },
            "type": "array",
            "title": "Buyer Tax ID",
            "description": "Valid Brazilian CNPJ with 14 characters",
            "examples": [
              "12345678000199"
            ]
          },
          "sellerTaxId": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "title": "Seller Tax ID",
            "description": "Valid Brazilian CNPJ with 14 characters",
            "examples": [
              "12345678000199"
            ]
          },
          "onboard": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Onboard",
            "description": "Whether to onboard the buyer automatically after underwriting",
            "default": true
          },
          "freshnessInSeconds": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 999999999,
                "minimum": 0
              },
              {
                "type": "null"
              }
            ],
            "title": "Freshness Check",
            "description": "Underwriting analysis freshness check in seconds, null disables the check and defaults to 0 seconds",
            "examples": [
              3600,
              86400,
              null
            ]
          },
          "proposalName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proposal Name",
            "description": "Name of the proposal to be associated with the batch",
            "examples": [
              "Client 1 - Pre-approval"
            ]
          },
          "notification": {
            "$ref": "#/components/schemas/NotificationEnum",
            "title": "Notification Setting",
            "description": "Notification setting for the batch operation",
            "default": "Disabled",
            "examples": [
              "Disabled",
              "Admin",
              "Seller",
              "All"
            ]
          }
        },
        "type": "object",
        "required": [
          "buyerTaxIds",
          "sellerTaxId"
        ],
        "title": "AdminCreditUnderwritingBatchRequestDTO"
      },
      "AdminCreditUnderwritingBatchResponseDTO": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success",
            "description": "Whether the batch operation was successfully scheduled",
            "examples": [
              true,
              false
            ]
          },
          "totalUnderwritingsRequested": {
            "type": "integer",
            "title": "Total Underwritings Requested",
            "description": "Total number of underwriting requests in the batch",
            "examples": [
              10,
              50,
              100
            ]
          },
          "totalUnderwritingsScheduled": {
            "type": "integer",
            "title": "Total Underwritings Scheduled",
            "description": "Number of underwriting requests that were scheduled for processing",
            "examples": [
              5,
              25,
              50
            ]
          },
          "totalUnderwritingsRunning": {
            "type": "integer",
            "title": "Total Underwritings Running",
            "description": "Number of underwriting requests currently being processed",
            "examples": [
              3,
              15,
              30
            ]
          }
        },
        "type": "object",
        "required": [
          "success",
          "totalUnderwritingsRequested",
          "totalUnderwritingsScheduled",
          "totalUnderwritingsRunning"
        ],
        "title": "AdminCreditUnderwritingBatchResponseDTO"
      },
      "AdminCreditUnderwritingRequestDTO": {
        "properties": {
          "buyerTaxId": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "title": "Buyer Tax ID",
            "description": "Valid Brazilian CNPJ with 14 characters",
            "examples": [
              "12345678000199"
            ]
          },
          "sellerTaxId": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "title": "Seller Tax ID",
            "description": "Valid Brazilian CNPJ with 14 characters",
            "examples": [
              "12345678000199"
            ]
          },
          "onboard": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Onboard Requested",
            "description": "Whether to onboard the buyer automatically after underwriting",
            "default": true,
            "examples": [
              true,
              false
            ]
          },
          "freshnessInSeconds": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 999999999,
                "minimum": 0
              },
              {
                "type": "null"
              }
            ],
            "title": "Freshness Check",
            "description": "Underwriting analysis freshness check in seconds, null disables the check and defaults to 0 seconds",
            "examples": [
              3600,
              86400,
              null
            ]
          },
          "notification": {
            "$ref": "#/components/schemas/NotificationEnum",
            "title": "Notification Setting",
            "description": "Notification setting for the credit underwriting operation",
            "default": "All",
            "examples": [
              "Disabled",
              "Admin",
              "Seller",
              "All"
            ]
          }
        },
        "type": "object",
        "required": [
          "buyerTaxId",
          "sellerTaxId"
        ],
        "title": "AdminCreditUnderwritingRequestDTO"
      },
      "AdminCreditUnderwritingResponseDTO": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Credit Underwriting ID",
            "description": "Unique identifier for the credit underwriting analysis request",
            "examples": [
              "123e4567-e89b-12d3-a456-426614174000"
            ]
          },
          "taxId": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 14,
                "minLength": 14
              },
              {
                "type": "null"
              }
            ],
            "title": "Buyer Tax ID",
            "description": "Brazilian CNPJ (tax ID) of the buyer",
            "examples": [
              "12345678000199"
            ]
          },
          "sellerTaxId": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 14,
                "minLength": 14
              },
              {
                "type": "null"
              }
            ],
            "title": "Seller Tax ID",
            "description": "Brazilian CNPJ (tax ID) of the seller",
            "examples": [
              "12345678000199"
            ]
          },
          "eligibility": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Eligibility",
            "description": "Whether the buyer is eligible for credit underwriting",
            "examples": [
              true,
              false
            ]
          },
          "creditRating": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Rating",
            "description": "Credit rating assigned to the buyer",
            "examples": [
              "A",
              "B",
              "C"
            ]
          },
          "creditLimitCents": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Limit",
            "description": "Credit limit in cents approved for the buyer",
            "examples": [
              1000000,
              500000
            ]
          },
          "ineligibilityReason": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ineligibility Reason",
            "description": "List of reasons why the buyer is not eligible",
            "examples": [
              [
                "{\"Rejected: Debt ratio (9.68) above upper threshold of 60%\"}",
                "{\"Rejected - company with foundation date less than 12 months.\"}"
              ]
            ]
          },
          "errorReason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Reason",
            "description": "Reason for any internal error that occurred during the process",
            "examples": [
              "Credit underwriting expired after 1200 seconds"
            ]
          },
          "decisionUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Decision URL",
            "description": "URL to access the detailed underwriting decision on Taktile",
            "examples": [
              "https://app.taktile.com/decide/display/decision?workspace_id=a43e25b9-3430-49d8-b95e-1e299b482fdc&flow_slug=test-vadu-flow&version_id=ea54589b-3108-4d46-8102-494601d4f1dd&decision_id=c31b95db-4fb6-4a96-b058-364c60dbf3d8"
            ]
          },
          "onboardingDecisionUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Onboarding Decision URL",
            "description": "URL to access the detailed onboarding decision on Taktile",
            "examples": [
              "https://app.taktile.com/decide/display/decision?workspace_id=a43e25b9-3430-49d8-b95e-1e299b482fdc&flow_slug=master-e2e-config&version_id=9f78cdc3-b4d8-4d9b-b53a-42e88db68515&decision_id=b41ef6c3-484f-453c-88c8-894bb713d781"
            ]
          },
          "paymentTerms": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Payment Terms",
            "description": "Payment terms in days approved for the buyer",
            "examples": [
              30,
              60,
              90
            ]
          },
          "underwritingDetails": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Underwriting Details",
            "description": "Additional details about the underwriting process - can be a complex nested object",
            "examples": [
              {
                "analysis_date": "2024-03-20",
                "risk_level": "low",
                "score": 85
              }
            ]
          },
          "segmentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Segment ID",
            "description": "Identifier for the buyer's segment - soon to be deprecated",
            "examples": [
              "f459c4c3-5a5f-4712-a279-f3ad3267bb95"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At",
            "description": "Timestamp when the credit underwriting request was created",
            "examples": [
              "2024-03-20T10:30:00Z"
            ]
          },
          "notification": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NotificationEnum"
              },
              {
                "type": "null"
              }
            ],
            "title": "Notification Setting",
            "description": "Notification setting for the credit underwriting operation",
            "examples": [
              "Disabled",
              "Admin",
              "Seller",
              "All"
            ]
          },
          "underwriting": {
            "$ref": "#/components/schemas/UnderwritingFieldsDTO",
            "description": "Underwriting process details including status, decision URL, and additional details",
            "readOnly": true
          },
          "onboarding": {
            "$ref": "#/components/schemas/OnboardingFieldsDTO",
            "description": "Onboarding process details including status and decision URL",
            "readOnly": true
          },
          "seller": {
            "$ref": "#/components/schemas/SellerFieldsDTO",
            "description": "Seller-facing information derived from underwriting and onboarding status",
            "readOnly": true
          }
        },
        "type": "object",
        "required": [
          "id",
          "underwriting",
          "onboarding",
          "seller"
        ],
        "title": "AdminCreditUnderwritingResponseDTO"
      },
      "BrowserCheck": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "canvas": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Canvas"
          },
          "device": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Device"
          },
          "charset": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Charset"
          },
          "version": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Version"
          },
          "userAgent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Useragent"
          },
          "acceptLanguage": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Acceptlanguage"
          },
          "isCookiesEnabled": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Iscookiesenabled"
          },
          "preferredLanguage": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Preferredlanguage"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "BrowserCheck"
      },
      "CreateCRREnforcementRequestDTO": {
        "properties": {
          "entity_id": {
            "type": "string",
            "maxLength": 255,
            "title": "Entity Id",
            "description": "The unique identifier of the entity the enforcement rule refers to",
            "example": "192.168.1.1"
          },
          "entity_type": {
            "type": "string",
            "maxLength": 100,
            "title": "Entity Type",
            "description": "The entity type from the entity_types table",
            "example": "ip_address"
          },
          "flag_type": {
            "type": "string",
            "maxLength": 50,
            "title": "Flag Type",
            "description": "The unique string for this flag type",
            "example": "TFB0000001"
          },
          "type": {
            "$ref": "#/components/schemas/EnforcementTypeEnum",
            "description": "The enforcement action type: 'block' to prevent actions or 'allow' to explicitly permit actions",
            "example": "block"
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires At",
            "description": "The date limit after which the enforcement is no longer valid",
            "example": "2024-12-31T23:59:59Z"
          },
          "context": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Context",
            "description": "User-generated notes about this enforcement rule explaining the reasoning, attaching Zendesk tickets, etc.",
            "example": {
              "reason": "Suspicious activity detected",
              "zendesk_ticket": "TICKET-12345"
            }
          }
        },
        "type": "object",
        "required": [
          "entity_id",
          "entity_type",
          "flag_type",
          "type"
        ],
        "title": "CreateCRREnforcementRequestDTO",
        "description": "DTO for creating a new enforcement rule."
      },
      "CreateCRREnforcementResponseDTO": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Status of the operation",
            "example": "success"
          },
          "enforcements": {
            "items": {
              "$ref": "#/components/schemas/EnforcementDTO"
            },
            "type": "array",
            "title": "Enforcements",
            "description": "Array with enforcement objects",
            "example": []
          },
          "reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reason",
            "description": "Reason if error occurred"
          }
        },
        "type": "object",
        "required": [
          "status",
          "enforcements"
        ],
        "title": "CreateCRREnforcementResponseDTO",
        "description": "DTO for enforcement creation responses."
      },
      "CreateEntityTypeRequestDTO": {
        "properties": {
          "entity_type": {
            "type": "string",
            "maxLength": 100,
            "minLength": 1,
            "title": "Entity Type",
            "description": "An entity type either described in our internal models or not (must be PascalCase)",
            "example": "Order"
          },
          "regex_validation": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 500
              },
              {
                "type": "null"
              }
            ],
            "title": "Regex Validation",
            "description": "A REGEX pattern to validate entity IDs for this type",
            "example": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
          }
        },
        "type": "object",
        "required": [
          "entity_type"
        ],
        "title": "CreateEntityTypeRequestDTO",
        "description": "DTO for creating a new entity type."
      },
      "CreateFlagRequestDTO": {
        "properties": {
          "decision_id": {
            "type": "string",
            "title": "Decision Id",
            "description": "The ID of the decision run that generated these flags",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "flags": {
            "items": {
              "$ref": "#/components/schemas/CreateFlagRequestItemDTO"
            },
            "type": "array",
            "minItems": 1,
            "title": "Flags",
            "description": "Array of flags to create",
            "example": [
              {
                "context": {
                  "notes": "High priority risk indicator",
                  "user_id": "user-123"
                },
                "entity_id": "41652379000100",
                "entity_type": "BuyerCnpj",
                "expires_at": "2024-12-31T23:59:59Z",
                "flag_type": "TF00001"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "decision_id",
          "flags"
        ],
        "title": "CreateFlagRequestDTO",
        "description": "DTO for creating multiple flags."
      },
      "CreateFlagRequestItemDTO": {
        "properties": {
          "entity_id": {
            "type": "string",
            "maxLength": 255,
            "title": "Entity Id",
            "description": "The unique identifier of the entity the flag was raised for",
            "example": "41652379000100"
          },
          "entity_type": {
            "type": "string",
            "maxLength": 100,
            "title": "Entity Type",
            "description": "The entity type from the entity_types table",
            "example": "BuyerCnpj"
          },
          "flag_type": {
            "type": "string",
            "maxLength": 50,
            "title": "Flag Type",
            "description": "The unique string for this flag type",
            "example": "TF00001"
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires At",
            "description": "The date limit after which the flag is no longer valid",
            "example": "2024-12-31T23:59:59Z"
          },
          "context": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Context",
            "description": "User-generated notes about this flag to help Taktile make decisions",
            "example": {
              "notes": "High priority risk indicator",
              "user_id": "user-123"
            }
          }
        },
        "type": "object",
        "required": [
          "entity_id",
          "entity_type",
          "flag_type"
        ],
        "title": "CreateFlagRequestItemDTO",
        "description": "DTO for a single flag creation request."
      },
      "CreateFlagResponseDTO": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Overall status of the operation",
            "example": "success"
          },
          "total_flags_created": {
            "type": "integer",
            "title": "Total Flags Created",
            "description": "Total number of flags successfully created",
            "example": 3
          },
          "error_reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Reason",
            "description": "Detailed reason for failure when status is 'error'. Omitted for successful operations.",
            "example": "No analysis found with decision_id: 550e8400-e29b-41d4-a716-446655440000"
          }
        },
        "type": "object",
        "required": [
          "status",
          "total_flags_created"
        ],
        "title": "CreateFlagResponseDTO",
        "description": "DTO for flag creation responses."
      },
      "CreateFlagTypeRequestDTO": {
        "properties": {
          "flag_type": {
            "type": "string",
            "maxLength": 7,
            "minLength": 7,
            "title": "Flag Type",
            "description": "A string that names the flag type (format: AA11111 - 2 uppercase letters + 5 digits)",
            "example": "TFB00001"
          },
          "domain": {
            "$ref": "#/components/schemas/DomainEnum",
            "description": "The nature of the rule to be bypassed",
            "example": "fraud"
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "minLength": 1,
            "title": "Description",
            "description": "A small explanation of what this flag type is about",
            "example": "Suspicious transaction pattern detected"
          }
        },
        "type": "object",
        "required": [
          "flag_type",
          "domain",
          "description"
        ],
        "title": "CreateFlagTypeRequestDTO",
        "description": "DTO for creating a new flag type."
      },
      "CreditLimitIncreaseRequestDTO": {
        "properties": {
          "buyerTaxId": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "title": "Buyer Tax ID",
            "description": "Brazilian CNPJ (tax ID) of the buyer requesting the credit limit increase",
            "examples": [
              "12345678000199"
            ]
          },
          "sellerTaxId": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "title": "Seller Tax ID",
            "description": "Brazilian CNPJ (tax ID) of the seller approving the credit limit increase",
            "examples": [
              "12345678000199"
            ]
          },
          "creditLimitRequestedCents": {
            "type": "integer",
            "title": "Credit Limit Requested",
            "description": "Requested credit limit increase amount in cents - this is a delta value, so in order to increase the credit limit in R$ 10, the value must be 1000",
            "examples": [
              1000000,
              5000000
            ]
          },
          "context": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Context",
            "description": "User-generated notes and metadata about this credit limit increase request, including extra documents and other contextual information",
            "examples": [
              {
                "extra_documents": "https://link-to-extra-documents.com"
              }
            ]
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "buyerTaxId",
          "sellerTaxId",
          "creditLimitRequestedCents"
        ],
        "title": "CreditLimitIncreaseRequestDTO"
      },
      "CreditLimitIncreaseResultDTO": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Credit Limit Increase Request ID",
            "description": "Unique identifier for the credit limit increase request",
            "examples": [
              "123e4567-e89b-12d3-a456-426614174000"
            ]
          },
          "buyerTaxId": {
            "type": "string",
            "title": "Buyer Tax ID",
            "description": "Brazilian CNPJ (tax ID) of the buyer who requested the increase",
            "examples": [
              "12345678000199"
            ]
          },
          "sellerTaxId": {
            "type": "string",
            "title": "Seller Tax ID",
            "description": "Brazilian CNPJ (tax ID) of the seller who approved the increase",
            "examples": [
              "12345678000199"
            ]
          },
          "creditLimitRequestedCents": {
            "type": "integer",
            "title": "Credit Limit Requested",
            "description": "Requested credit limit increase amount in cents - this is a delta value, so in order to increase the credit limit in R$ 10, the value must be 1000",
            "examples": [
              1000000,
              5000000
            ]
          },
          "creditLimitApprovedCents": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Limit Approved",
            "description": "Approved credit limit increase amount in cents",
            "examples": [
              1000000,
              5000000
            ]
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Status of the credit limit increase request: `Created`, `Pending`, `Approved`, `Partially Approved`, `Rejected`, `Failed`",
            "examples": [
              "Pending",
              "Approved",
              "PartiallyApproved",
              "Rejected",
              "Failed"
            ]
          },
          "reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reason",
            "description": "Reason for the current status, especially for Rejected or Failed statuses",
            "examples": [
              "Credit limit increase request expired after 1200 seconds",
              "Buyer is eligible for desired credit limit",
              "Internal error during analysis"
            ]
          },
          "context": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Context",
            "description": "User-generated notes and metadata about this credit limit increase request, including extra documents and other contextual information",
            "examples": [
              {
                "extra_documents": "https://link-to-extra-documents.com"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "buyerTaxId",
          "sellerTaxId",
          "creditLimitRequestedCents",
          "status"
        ],
        "title": "CreditLimitIncreaseResultDTO"
      },
      "CreditUnderwritingRequestDTO": {
        "properties": {
          "buyerTaxId": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "title": "Buyer Tax ID",
            "description": "Valid Brazilian CNPJ with 14 characters",
            "examples": [
              "12345678901234"
            ]
          },
          "sellerTaxId": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "title": "Seller Tax ID",
            "description": "Valid Brazilian CNPJ with 14 characters",
            "examples": [
              "09876543210987"
            ]
          },
          "notification": {
            "$ref": "#/components/schemas/NotificationEnum",
            "title": "Notification Setting",
            "description": "Notification setting for the credit underwriting operation",
            "default": "All",
            "examples": [
              "Disabled",
              "Admin",
              "Seller",
              "All"
            ]
          }
        },
        "type": "object",
        "required": [
          "buyerTaxId",
          "sellerTaxId"
        ],
        "title": "CreditUnderwritingRequestDTO"
      },
      "CreditUnderwritingResponseDTO": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Credit Underwriting ID",
            "description": "Unique identifier for the credit underwriting analysis request",
            "examples": [
              "123e4567-e89b-12d3-a456-426614174000"
            ]
          },
          "taxId": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "title": "Buyer Tax ID",
            "description": "Brazilian CNPJ (tax ID) of the buyer",
            "examples": [
              "12345678000199"
            ]
          },
          "sellerTaxId": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "title": "Seller Tax ID",
            "description": "Brazilian CNPJ (tax ID) of the seller",
            "examples": [
              "12345678000199"
            ]
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Current status of the underwriting process: `Pending`, `Failed`, `Rejected`, or `Finished`",
            "readOnly": true,
            "examples": [
              "Finished",
              "Pending",
              "Failed",
              "Rejected"
            ]
          },
          "reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reason",
            "description": "Reason for failure or rejection, if applicable. Provides human-readable explanation when status is `Failed` or `Rejected`",
            "readOnly": true,
            "examples": [
              null,
              "Insufficient credit history for requested increase",
              "Buyer is not eligible for underwriting"
            ]
          },
          "retryAfter": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Retryafter",
            "description": "Time after which the credit underwriting or onboarding can be retried",
            "readOnly": true,
            "examples": [
              "2025-06-10T19:10:13.788308",
              null
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "taxId",
          "sellerTaxId",
          "status",
          "reason",
          "retryAfter"
        ],
        "title": "CreditUnderwritingResponseDTO"
      },
      "DataLoggingProvidersEnum": {
        "type": "string",
        "enum": [
          "modelbit"
        ],
        "title": "DataLoggingProvidersEnum"
      },
      "DeviceCheck": {
        "properties": {
          "ip": {
            "type": "string",
            "title": "Ip"
          },
          "os": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Os"
          },
          "trueIp": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Trueip"
          },
          "memory": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Memory"
          },
          "gpuName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Gpuname"
          },
          "language": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Language"
          },
          "cpuCores": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cpucores"
          },
          "isMobile": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ismobile"
          },
          "gpuVendor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Gpuvendor"
          },
          "osVersion": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Osversion"
          },
          "screenDpi": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Screendpi"
          },
          "screenPpi": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Screenppi"
          },
          "screenWidth": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Screenwidth"
          },
          "screenHeight": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Screenheight"
          },
          "storageFree": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Storagefree"
          },
          "batteryLevel": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Batterylevel"
          },
          "localLanguage": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Locallanguage"
          },
          "isScreenTouch": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Isscreentouch"
          },
          "storageCapacity": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Storagecapacity"
          },
          "screenResolution": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Screenresolution"
          },
          "isBatteryCharging": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Isbatterycharging"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "ip"
        ],
        "title": "DeviceCheck"
      },
      "DisableEnforcementResponseDTO": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Status of the operation (success or error)",
            "example": "success"
          },
          "enforcement_id": {
            "type": "string",
            "title": "Enforcement Id",
            "description": "UUID of the disabled enforcement rule",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reason",
            "description": "Reason for the operation result (if error)"
          }
        },
        "type": "object",
        "required": [
          "status",
          "enforcement_id"
        ],
        "title": "DisableEnforcementResponseDTO",
        "description": "DTO for enforcement disable responses."
      },
      "DisableFlagResponseDTO": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Overall status of the operation",
            "example": "success"
          },
          "flag_id": {
            "type": "string",
            "title": "Flag Id",
            "description": "The UUID of the disabled flag",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        },
        "type": "object",
        "required": [
          "status",
          "flag_id"
        ],
        "title": "DisableFlagResponseDTO",
        "description": "Response DTO for disabling a flag."
      },
      "DomainEnum": {
        "type": "string",
        "enum": [
          "fraud",
          "credit",
          "generic"
        ],
        "title": "DomainEnum",
        "description": "Enum representing the domain/nature of a flag type.\n\n- fraud: Flags related to fraudulent activities or suspicious behavior\n- credit: Flags related to credit risk assessment and creditworthiness\n- generic: General-purpose flags that can apply across multiple domains"
      },
      "EnforcementDTO": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "The unique identifier of the enforcement rule",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "entity_id": {
            "type": "string",
            "title": "Entity Id",
            "description": "The unique identifier of the entity",
            "example": "192.168.1.1"
          },
          "entity_type": {
            "type": "string",
            "title": "Entity Type",
            "description": "The entity type",
            "example": "ip_address"
          },
          "flag_type": {
            "type": "string",
            "title": "Flag Type",
            "description": "The flag type",
            "example": "TFB0000001"
          },
          "type": {
            "$ref": "#/components/schemas/EnforcementTypeEnum",
            "description": "The enforcement action type",
            "example": "block"
          },
          "created_by": {
            "type": "string",
            "title": "Created By",
            "description": "The user who created this enforcement rule",
            "example": "admin@credix.io"
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires At",
            "description": "The expiration date of the enforcement rule",
            "example": "2024-12-31T23:59:59Z"
          },
          "context": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Context",
            "description": "Additional context about the enforcement rule",
            "example": {
              "reason": "Suspicious activity detected"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "When the enforcement rule was created",
            "example": "2024-01-01T00:00:00Z"
          }
        },
        "type": "object",
        "required": [
          "id",
          "entity_id",
          "entity_type",
          "flag_type",
          "type",
          "created_by",
          "created_at"
        ],
        "title": "EnforcementDTO",
        "description": "DTO for enforcement rule in responses."
      },
      "EnforcementTypeEnum": {
        "type": "string",
        "enum": [
          "block",
          "allow"
        ],
        "title": "EnforcementTypeEnum",
        "description": "Enum representing the enforcement action type.\n\n- block: Prevents the entity from performing certain actions\n- allow: Explicitly allows the entity to perform actions (whitelist)"
      },
      "EntityTypeResponseDTO": {
        "properties": {
          "entity_type": {
            "type": "string",
            "title": "Entity Type",
            "description": "The unique identifier for this entity type",
            "example": "order"
          },
          "regex_validation": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Regex Validation",
            "description": "The REGEX pattern used to validate entity IDs",
            "example": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
          }
        },
        "type": "object",
        "required": [
          "entity_type"
        ],
        "title": "EntityTypeResponseDTO",
        "description": "DTO for entity type responses."
      },
      "FlagResultDomain": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "entity_id": {
            "type": "string",
            "title": "Entity Id"
          },
          "entity_type": {
            "type": "string",
            "title": "Entity Type"
          },
          "analysis_id": {
            "type": "string",
            "format": "uuid",
            "title": "Analysis Id"
          },
          "domain": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DomainEnum"
              },
              {
                "type": "null"
              }
            ]
          },
          "flag_type": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FlagTypeInfoDomain"
              },
              {
                "type": "null"
              }
            ]
          },
          "context": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Context"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At"
          },
          "updated_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "entity_id",
          "entity_type",
          "analysis_id"
        ],
        "title": "FlagResultDomain",
        "description": "Domain model for a flag result item."
      },
      "FlagTypeInfoDTO": {
        "properties": {
          "flag_type": {
            "type": "string",
            "title": "Flag Type",
            "description": "The flag type identifier",
            "example": "TFB0000001"
          },
          "description": {
            "type": "string",
            "title": "Description",
            "description": "Description of the flag type",
            "example": "Suspicious transaction pattern detected"
          }
        },
        "type": "object",
        "required": [
          "flag_type",
          "description"
        ],
        "title": "FlagTypeInfoDTO",
        "description": "DTO for flag type information in enforcement responses."
      },
      "FlagTypeInfoDomain": {
        "properties": {
          "flag_type": {
            "type": "string",
            "title": "Flag Type"
          },
          "description": {
            "type": "string",
            "title": "Description"
          }
        },
        "type": "object",
        "required": [
          "flag_type",
          "description"
        ],
        "title": "FlagTypeInfoDomain",
        "description": "Domain model representing flag type information for enforcement retrieval."
      },
      "FlagTypeResponseDTO": {
        "properties": {
          "flag_type": {
            "type": "string",
            "title": "Flag Type",
            "description": "The unique identifier for this flag type",
            "example": "TFB0000001"
          },
          "domain": {
            "$ref": "#/components/schemas/DomainEnum",
            "description": "The domain/nature of this flag type",
            "example": "fraud"
          },
          "description": {
            "type": "string",
            "title": "Description",
            "description": "Description of what this flag type represents",
            "example": "Suspicious transaction pattern detected"
          }
        },
        "type": "object",
        "required": [
          "flag_type",
          "domain",
          "description"
        ],
        "title": "FlagTypeResponseDTO",
        "description": "DTO for flag type responses."
      },
      "FraudAnalysisDecisionsEnum": {
        "type": "string",
        "enum": [
          "Approved",
          "Rejected",
          "ActionRequired"
        ],
        "title": "FraudAnalysisDecisionsEnum"
      },
      "GetEnforcementRequestDTO": {
        "properties": {
          "domain": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DomainEnum"
              },
              {
                "type": "null"
              }
            ],
            "description": "Filter by domain",
            "example": "fraud"
          },
          "flag_type": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50
              },
              {
                "type": "null"
              }
            ],
            "title": "Flag Type",
            "description": "Filter by flag type",
            "example": "TFB0000001"
          },
          "type": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/EnforcementTypeEnum"
              },
              {
                "type": "null"
              }
            ],
            "description": "Filter by enforcement type (blocklist/allowlist)",
            "example": "block"
          },
          "is_active": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Active",
            "description": "Filter by active status",
            "example": true
          },
          "expired": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expired",
            "description": "Filter by expiration status",
            "example": false
          }
        },
        "type": "object",
        "title": "GetEnforcementRequestDTO",
        "description": "DTO for enforcement retrieval request with filters."
      },
      "GetEnforcementResponseDTO": {
        "properties": {
          "result": {
            "items": {
              "$ref": "#/components/schemas/GetEnforcementResultDTO"
            },
            "type": "array",
            "title": "Result",
            "description": "Array of enforcement rules matching the criteria",
            "example": []
          },
          "entity_type": {
            "type": "string",
            "title": "Entity Type",
            "description": "The entity type that was queried",
            "example": "ip_address"
          },
          "entity_id": {
            "type": "string",
            "title": "Entity Id",
            "description": "The entity ID that was queried",
            "example": "192.168.1.1"
          },
          "filters": {
            "$ref": "#/components/schemas/GetEnforcementRequestDTO",
            "description": "The filters that were applied to this query"
          }
        },
        "type": "object",
        "required": [
          "result",
          "entity_type",
          "entity_id",
          "filters"
        ],
        "title": "GetEnforcementResponseDTO",
        "description": "DTO for enforcement retrieval responses."
      },
      "GetEnforcementResultDTO": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique identifier of the enforcement rule",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "entity_id": {
            "type": "string",
            "title": "Entity Id",
            "description": "The unique identifier of the entity",
            "example": "192.168.1.1"
          },
          "entity_type": {
            "type": "string",
            "title": "Entity Type",
            "description": "The entity type",
            "example": "ip_address"
          },
          "generic": {
            "type": "boolean",
            "title": "Generic",
            "description": "Whether this is a generic flag (not specific to a flag type)",
            "example": false
          },
          "flag_type": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FlagTypeInfoDTO"
              },
              {
                "type": "null"
              }
            ],
            "description": "Flag type information (null if generic flag)"
          },
          "list_entry_type": {
            "$ref": "#/components/schemas/EnforcementTypeEnum",
            "description": "The enforcement type (blocklist or allowlist)",
            "example": "block"
          },
          "is_active": {
            "type": "boolean",
            "title": "Is Active",
            "description": "Whether the enforcement rule is currently active",
            "example": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "When the enforcement rule was created",
            "example": "2024-01-01T00:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "When the enforcement rule was last updated",
            "example": "2024-01-01T00:00:00Z"
          },
          "context": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Context",
            "description": "Additional context about the enforcement rule",
            "example": {
              "reason": "Suspicious activity detected"
            }
          }
        },
        "type": "object",
        "required": [
          "id",
          "entity_id",
          "entity_type",
          "generic",
          "list_entry_type",
          "is_active",
          "created_at",
          "updated_at"
        ],
        "title": "GetEnforcementResultDTO",
        "description": "DTO for individual enforcement result."
      },
      "GetFlagsResponseDTO": {
        "properties": {
          "result": {
            "items": {
              "$ref": "#/components/schemas/FlagResultDomain"
            },
            "type": "array",
            "title": "Result"
          },
          "entity_type": {
            "type": "string",
            "title": "Entity Type"
          },
          "entity_id": {
            "type": "string",
            "title": "Entity Id"
          },
          "filters": {
            "additionalProperties": true,
            "type": "object",
            "title": "Filters"
          }
        },
        "type": "object",
        "required": [
          "entity_type",
          "entity_id"
        ],
        "title": "GetFlagsResponseDTO",
        "description": "Response DTO for flags retrieval."
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "NotificationEnum": {
        "type": "string",
        "enum": [
          "Disabled",
          "Admin",
          "Seller",
          "All"
        ],
        "title": "NotificationEnum",
        "description": "Enum representing notification settings for batch operations.\n\n- DISABLED: No notifications will be sent\n- ADMIN: Notifications will be sent to admin users only\n- SELLER: Notifications will be sent to seller users only\n- ALL: Notifications will be sent to all relevant users"
      },
      "OnboardingFieldsDTO": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Onboarding Status",
            "description": "Current status of the onboarding process",
            "examples": [
              "Pending",
              "Completed",
              "Failed",
              "Aborted"
            ]
          },
          "decisionUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Onboarding Decision URL",
            "description": "URL to access the detailed onboarding decision on Taktile",
            "examples": [
              "https://app.taktile.com/decide/display/decision?workspace_id=a43e25b9-3430-49d8-b95e-1e299b482fdc&flow_slug=master-e2e-config&version_id=9f78cdc3-b4d8-4d9b-b53a-42e88db68515&decision_id=b41ef6c3-484f-453c-88c8-894bb713d781"
            ]
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "OnboardingFieldsDTO"
      },
      "OrderChannelEnum": {
        "type": "string",
        "enum": [
          "Vtex",
          "SellerPlatform",
          "CredipayApi"
        ],
        "title": "OrderChannelEnum"
      },
      "OrderCheck": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "amountInCents": {
            "type": "integer",
            "title": "Amountincents"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "title": "Createdat"
          },
          "numberOfItems": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Numberofitems"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "id",
          "amountInCents",
          "createdAt"
        ],
        "title": "OrderCheck"
      },
      "OrderFraudAnalysisAction": {
        "properties": {
          "type": {
            "type": "string",
            "title": "Type"
          },
          "data": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Data"
          }
        },
        "type": "object",
        "required": [
          "type"
        ],
        "title": "OrderFraudAnalysisAction"
      },
      "OrderFraudAnalysisDecisionResponseDTO": {
        "properties": {
          "decision": {
            "$ref": "#/components/schemas/FraudAnalysisDecisionsEnum"
          },
          "actions": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/OrderFraudAnalysisAction"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Actions"
          }
        },
        "type": "object",
        "required": [
          "decision"
        ],
        "title": "OrderFraudAnalysisDecisionResponseDTO"
      },
      "OrderFraudAnalysisRequestDTO": {
        "properties": {
          "channel": {
            "$ref": "#/components/schemas/OrderChannelEnum"
          },
          "sellerSegmentId": {
            "type": "string",
            "title": "Sellersegmentid"
          },
          "buyerTaxId": {
            "type": "string",
            "title": "Buyertaxid"
          },
          "account": {
            "$ref": "#/components/schemas/AccountCheck"
          },
          "shippingAddress": {
            "$ref": "#/components/schemas/AddressCheck"
          },
          "order": {
            "$ref": "#/components/schemas/OrderCheck"
          },
          "browser": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/BrowserCheck"
              },
              {
                "type": "null"
              }
            ]
          },
          "device": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DeviceCheck"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "channel",
          "sellerSegmentId",
          "buyerTaxId",
          "account",
          "shippingAddress",
          "order"
        ],
        "title": "OrderFraudAnalysisRequestDTO"
      },
      "ScheduleProvisionalBuyersOnboardingRequestDTO": {
        "properties": {
          "buyer_tax_id": {
            "type": "string",
            "title": "Buyer Tax Id"
          },
          "payer_name": {
            "type": "string",
            "title": "Payer Name"
          },
          "delay_in_hours": {
            "type": "integer",
            "title": "Delay In Hours"
          },
          "retry_count": {
            "type": "integer",
            "title": "Retry Count"
          },
          "buyer_economic_group_id": {
            "type": "string",
            "title": "Buyer Economic Group Id"
          }
        },
        "type": "object",
        "required": [
          "buyer_tax_id",
          "payer_name",
          "delay_in_hours",
          "retry_count",
          "buyer_economic_group_id"
        ],
        "title": "ScheduleProvisionalBuyersOnboardingRequestDTO"
      },
      "SellerFieldsDTO": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Current status of the credit underwriting analysis",
            "examples": [
              "Pending",
              "Finished",
              "Failed",
              "Rejected"
            ]
          },
          "reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reason",
            "description": "Reason for a Failed or Rejected status",
            "examples": [
              "Internal error while running underwriting analysis",
              "Buyer is not eligible for credit"
            ]
          },
          "retryAfter": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Retry After",
            "description": "Timestamp indicating when the seller can retry the underwriting analysis",
            "examples": [
              "2024-03-21T10:30:00Z"
            ]
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "SellerFieldsDTO"
      },
      "TaktileWebhookEvent": {
        "properties": {
          "decision_id": {
            "type": "string",
            "title": "Decision Id"
          },
          "entity_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Entity Id"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "environment": {
            "type": "string",
            "title": "Environment"
          },
          "flow": {
            "type": "string",
            "title": "Flow"
          },
          "version": {
            "type": "string",
            "title": "Version"
          },
          "workspace": {
            "type": "string",
            "title": "Workspace"
          }
        },
        "type": "object",
        "required": [
          "decision_id",
          "entity_id",
          "status",
          "environment",
          "flow",
          "version",
          "workspace"
        ],
        "title": "TaktileWebhookEvent"
      },
      "TaktileWebhookEventType": {
        "type": "string",
        "enum": [
          "DecisionOutcome",
          "ManualReviewCaseCreation",
          "JobRunExecuted",
          "WebhookTest"
        ],
        "title": "TaktileWebhookEventType"
      },
      "TaktileWebhookResponse": {
        "properties": {
          "time": {
            "type": "string",
            "format": "date-time",
            "title": "Time",
            "description": "This indicates the time in UTC at which the webhook was sent."
          },
          "type": {
            "$ref": "#/components/schemas/TaktileWebhookEventType"
          },
          "event": {
            "$ref": "#/components/schemas/TaktileWebhookEvent"
          },
          "version": {
            "type": "string",
            "title": "Version"
          },
          "id": {
            "type": "string",
            "title": "Id"
          }
        },
        "type": "object",
        "required": [
          "time",
          "type",
          "event",
          "version",
          "id"
        ],
        "title": "TaktileWebhookResponse"
      },
      "TriggerProvisionalBuyerOnboardingRequestDTO": {
        "properties": {
          "buyer_tax_id": {
            "type": "string",
            "title": "Buyer Tax Id"
          },
          "payer_name": {
            "type": "string",
            "title": "Payer Name"
          },
          "btg_request_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Btg Request Id"
          },
          "retry_count": {
            "type": "integer",
            "title": "Retry Count"
          },
          "buyer_economic_group_id": {
            "type": "string",
            "title": "Buyer Economic Group Id"
          }
        },
        "type": "object",
        "required": [
          "buyer_tax_id",
          "payer_name",
          "retry_count",
          "buyer_economic_group_id"
        ],
        "title": "TriggerProvisionalBuyerOnboardingRequestDTO"
      },
      "TriggerTaktileDecisionRequestDTO": {
        "properties": {
          "flow_slug": {
            "type": "string",
            "title": "Flow Slug",
            "description": "Taktile's flow internal name slug of the flow to trigger"
          },
          "entity_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Entity Type",
            "description": "Type of the entity that is being validated. If provided, validation will be done aganist the provided entity id"
          },
          "entity_id": {
            "type": "string",
            "title": "Entity Id",
            "description": "Unique identifier of the entity that is being validated"
          },
          "payload": {
            "additionalProperties": true,
            "type": "object",
            "title": "Payload",
            "description": "Payload to be forwarded to the decision flow. Validations will be mapped based on flow slug name"
          },
          "async_mode": {
            "type": "boolean",
            "title": "Async Mode",
            "description": "Indicates if the decision should be triggered asynchronously",
            "default": true
          }
        },
        "type": "object",
        "required": [
          "flow_slug",
          "entity_id",
          "payload"
        ],
        "title": "TriggerTaktileDecisionRequestDTO"
      },
      "UnderwritingFieldsDTO": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Current status of the underwriting analysis",
            "examples": [
              "Pending",
              "Finished",
              "Failed"
            ]
          },
          "details": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Details",
            "description": "Additional details about the underwriting analysis - can be a complex nested object",
            "examples": [
              {
                "analysis_date": "2024-03-20",
                "risk_level": "low",
                "score": 85
              }
            ]
          },
          "decisionUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Decision URL",
            "description": "URL to access the detailed underwriting decision on Taktile",
            "examples": [
              "https://app.taktile.com/decide/display/decision?workspace_id=a43e25b9-3430-49d8-b95e-1e299b482fdc&flow_slug=test-vadu-flow&version_id=ea54589b-3108-4d46-8102-494601d4f1dd&decision_id=c31b95db-4fb6-4a96-b058-364c60dbf3d8"
            ]
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "UnderwritingFieldsDTO"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CREDIPAY-API-KEY"
      }
    }
  },
  "security": [
    {
      "api_key": []
    }
  ]
}