{
  "openapi": "3.1.0",
  "info": {
    "title": "Credipay API",
    "description": "",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.pre.credix.finance",
      "description": "Sandbox"
    },
    {
      "url": "https://api.credix.finance",
      "description": "Production"
    }
  ],
  "paths": {
    "/v2/credit-limit/request": {
      "post": {
        "tags": [
          "Credit Limit"
        ],
        "summary": "Request a credit limit",
        "description": "Request a credit limit for a specific buyer for the first time. If additional credit limit is needed, use the Request a credit limit increase endpoint.",
        "operationId": "credit_underwrite_request_risk_engine_credit_underwrite_request_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditUnderwritingRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Credit limit request is received and will be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditUnderwritingResponseDTO"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/credit-limit/request/{creditUnderwritingId}": {
      "get": {
        "tags": [
          "Credit Limit"
        ],
        "summary": "Get a credit limit request",
        "description": "Get a credit limit request by ID (UUID)",
        "operationId": "get_credit_underwrite_request_risk_engine_credit_underwrite_request__creditUnderwritingId__get",
        "parameters": [
          {
            "name": "creditUnderwritingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the credit underwriting request",
              "title": "Creditunderwritingid"
            },
            "description": "Unique identifier for the credit underwriting request",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "responses": {
          "200": {
            "description": "Credit limit request retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditUnderwritingResponseDTO"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/credit-limit/increase": {
      "post": {
        "tags": [
          "Credit Limit"
        ],
        "summary": "Request a credit limit increase",
        "description": "Request a credit limit increase for a specific buyer",
        "operationId": "credit_limit_increase_request_risk_engine_credit_limit_increase_request_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditLimitIncreaseRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Credit limit increase request is received and will be processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditLimitIncreaseResultDTO"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/credit-limit/increase/{cliRequestId}": {
      "get": {
        "tags": [
          "Credit Limit"
        ],
        "summary": "Get a credit limit increase request",
        "description": "Get a credit limit increase request by ID (UUID)",
        "operationId": "get_credit_limit_increase_request_risk_engine_credit_limit_increase_request__cliRequestId__get",
        "parameters": [
          {
            "name": "cliRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the credit limit increase request",
              "title": "Clirequestid"
            },
            "description": "Unique identifier for the credit limit increase request",
            "example": "987fcdeb-51a2-43d1-9c4f-123456789abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Credit limit increase request retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditLimitIncreaseResultDTO"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountCheck": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "email": {
            "type": "string",
            "title": "Email"
          },
          "phone": {
            "type": "string",
            "title": "Phone"
          },
          "active": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Active"
          },
          "created": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created"
          },
          "ipLast": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Iplast"
          },
          "ipCreated": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ipcreated"
          },
          "ipHistory": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Iphistory"
          },
          "address": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AddressCheck"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "email",
          "phone"
        ],
        "title": "AccountCheck"
      },
      "AddressCheck": {
        "properties": {
          "city": {
            "type": "string",
            "title": "City"
          },
          "house": {
            "type": "string",
            "title": "House"
          },
          "state": {
            "type": "string",
            "title": "State"
          },
          "street": {
            "type": "string",
            "title": "Street"
          },
          "country": {
            "type": "string",
            "title": "Country"
          },
          "zipCode": {
            "type": "string",
            "title": "Zipcode"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "city",
          "house",
          "state",
          "street",
          "country",
          "zipCode"
        ],
        "title": "AddressCheck"
      },
      "AdminCreditUnderwritingBatchRequestDTO": {
        "properties": {
          "buyerTaxIds": {
            "items": {
              "type": "string",
              "maxLength": 14,
              "minLength": 14
            },
            "type": "array",
            "title": "Buyer Tax ID",
            "description": "Valid Brazilian CNPJ with 14 characters",
            "examples": [
              "12345678000199"
            ]
          },
          "sellerTaxId": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "title": "Seller Tax ID",
            "description": "Valid Brazilian CNPJ with 14 characters",
            "examples": [
              "12345678000199"
            ]
          },
          "onboard": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Onboard",
            "description": "Whether to onboard the buyer automatically after underwriting",
            "default": true
          },
          "freshnessInSeconds": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 999999999,
                "minimum": 0
              },
              {
                "type": "null"
              }
            ],
            "title": "Freshness Check",
            "description": "Underwriting analysis freshness check in seconds, null disables the check and defaults to 0 seconds",
            "examples": [
              3600,
              86400,
              null
            ]
          },
          "proposalName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Proposal Name",
            "description": "Name of the proposal to be associated with the batch",
            "examples": [
              "Client 1 - Pre-approval"
            ]
          }
        },
        "type": "object",
        "required": [
          "buyerTaxIds",
          "sellerTaxId"
        ],
        "title": "AdminCreditUnderwritingBatchRequestDTO"
      },
      "AdminCreditUnderwritingBatchResponseDTO": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success",
            "description": "Whether the batch operation was successfully scheduled",
            "examples": [
              true,
              false
            ]
          },
          "totalUnderwritingsRequested": {
            "type": "integer",
            "title": "Total Underwritings Requested",
            "description": "Total number of underwriting requests in the batch",
            "examples": [
              10,
              50,
              100
            ]
          },
          "totalUnderwritingsScheduled": {
            "type": "integer",
            "title": "Total Underwritings Scheduled",
            "description": "Number of underwriting requests that were scheduled for processing",
            "examples": [
              5,
              25,
              50
            ]
          },
          "totalUnderwritingsRunning": {
            "type": "integer",
            "title": "Total Underwritings Running",
            "description": "Number of underwriting requests currently being processed",
            "examples": [
              3,
              15,
              30
            ]
          }
        },
        "type": "object",
        "required": [
          "success",
          "totalUnderwritingsRequested",
          "totalUnderwritingsScheduled",
          "totalUnderwritingsRunning"
        ],
        "title": "AdminCreditUnderwritingBatchResponseDTO"
      },
      "AdminCreditUnderwritingRequestDTO": {
        "properties": {
          "buyerTaxId": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "title": "Buyer Tax ID",
            "description": "Valid Brazilian CNPJ with 14 characters",
            "examples": [
              "12345678000199"
            ]
          },
          "sellerTaxId": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "title": "Seller Tax ID",
            "description": "Valid Brazilian CNPJ with 14 characters",
            "examples": [
              "12345678000199"
            ]
          },
          "onboard": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Onboard Requested",
            "description": "Whether to onboard the buyer automatically after underwriting",
            "default": true,
            "examples": [
              true,
              false
            ]
          },
          "freshnessInSeconds": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 999999999,
                "minimum": 0
              },
              {
                "type": "null"
              }
            ],
            "title": "Freshness Check",
            "description": "Underwriting analysis freshness check in seconds, null disables the check and defaults to 0 seconds",
            "examples": [
              3600,
              86400,
              null
            ]
          }
        },
        "type": "object",
        "required": [
          "buyerTaxId",
          "sellerTaxId"
        ],
        "title": "AdminCreditUnderwritingRequestDTO"
      },
      "AdminCreditUnderwritingResponseDTO": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Credit Underwriting ID",
            "description": "Unique identifier for the credit underwriting analysis request",
            "examples": [
              "123e4567-e89b-12d3-a456-426614174000"
            ]
          },
          "taxId": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 14,
                "minLength": 14
              },
              {
                "type": "null"
              }
            ],
            "title": "Buyer Tax ID",
            "description": "Brazilian CNPJ (tax ID) of the buyer",
            "examples": [
              "12345678000199"
            ]
          },
          "sellerTaxId": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 14,
                "minLength": 14
              },
              {
                "type": "null"
              }
            ],
            "title": "Seller Tax ID",
            "description": "Brazilian CNPJ (tax ID) of the seller",
            "examples": [
              "12345678000199"
            ]
          },
          "eligibility": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Eligibility",
            "description": "Whether the buyer is eligible for credit underwriting",
            "examples": [
              true,
              false
            ]
          },
          "creditRating": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Rating",
            "description": "Credit rating assigned to the buyer",
            "examples": [
              "A",
              "B",
              "C"
            ]
          },
          "creditLimitCents": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Limit",
            "description": "Credit limit in cents approved for the buyer",
            "examples": [
              1000000,
              500000
            ]
          },
          "ineligibilityReason": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ineligibility Reason",
            "description": "List of reasons why the buyer is not eligible",
            "examples": [
              [
                "{\"Rejected: Debt ratio (9.68) above upper threshold of 60%\"}",
                "{\"Rejected - company with foundation date less than 12 months.\"}"
              ]
            ]
          },
          "errorReason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Reason",
            "description": "Reason for any internal error that occurred during the process",
            "examples": [
              "Credit underwriting expired after 1200 seconds"
            ]
          },
          "decisionUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Decision URL",
            "description": "URL to access the detailed underwriting decision on Taktile",
            "examples": [
              "https://app.taktile.com/decide/display/decision?workspace_id=a43e25b9-3430-49d8-b95e-1e299b482fdc&flow_slug=test-vadu-flow&version_id=ea54589b-3108-4d46-8102-494601d4f1dd&decision_id=c31b95db-4fb6-4a96-b058-364c60dbf3d8"
            ]
          },
          "onboardingDecisionUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Onboarding Decision URL",
            "description": "URL to access the detailed onboarding decision on Taktile",
            "examples": [
              "https://app.taktile.com/decide/display/decision?workspace_id=a43e25b9-3430-49d8-b95e-1e299b482fdc&flow_slug=master-e2e-config&version_id=9f78cdc3-b4d8-4d9b-b53a-42e88db68515&decision_id=b41ef6c3-484f-453c-88c8-894bb713d781"
            ]
          },
          "paymentTerms": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Payment Terms",
            "description": "Payment terms in days approved for the buyer",
            "examples": [
              30,
              60,
              90
            ]
          },
          "underwritingDetails": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Underwriting Details",
            "description": "Additional details about the underwriting process - can be a complex nested object",
            "examples": [
              {
                "analysis_date": "2024-03-20",
                "risk_level": "low",
                "score": 85
              }
            ]
          },
          "segmentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Segment ID",
            "description": "Identifier for the buyer's segment - soon to be deprecated",
            "examples": [
              "f459c4c3-5a5f-4712-a279-f3ad3267bb95"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At",
            "description": "Timestamp when the credit underwriting request was created",
            "examples": [
              "2024-03-20T10:30:00Z"
            ]
          },
          "underwriting": {
            "$ref": "#/components/schemas/UnderwritingFieldsDTO",
            "description": "Underwriting process details including status, decision URL, and additional details",
            "readOnly": true
          },
          "onboarding": {
            "$ref": "#/components/schemas/OnboardingFieldsDTO",
            "description": "Onboarding process details including status and decision URL",
            "readOnly": true
          },
          "seller": {
            "$ref": "#/components/schemas/SellerFieldsDTO",
            "description": "Seller-facing information derived from underwriting and onboarding status",
            "readOnly": true
          }
        },
        "type": "object",
        "required": [
          "id",
          "underwriting",
          "onboarding",
          "seller"
        ],
        "title": "AdminCreditUnderwritingResponseDTO"
      },
      "BrowserCheck": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "canvas": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Canvas"
          },
          "device": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Device"
          },
          "charset": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Charset"
          },
          "version": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Version"
          },
          "userAgent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Useragent"
          },
          "acceptLanguage": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Acceptlanguage"
          },
          "isCookiesEnabled": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Iscookiesenabled"
          },
          "preferredLanguage": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Preferredlanguage"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "BrowserCheck"
      },
      "CreditLimitIncreaseRequestDTO": {
        "properties": {
          "buyerTaxId": {
            "type": "string",
            "title": "Buyer Tax ID",
            "description": "Brazilian CNPJ (tax ID) of the buyer requesting the credit limit increase",
            "examples": [
              "12345678000199"
            ]
          },
          "sellerTaxId": {
            "type": "string",
            "title": "Seller Tax ID",
            "description": "Brazilian CNPJ (tax ID) of the seller approving the credit limit increase",
            "examples": [
              "12345678000199"
            ]
          },
          "creditLimitRequestedCents": {
            "type": "integer",
            "title": "Credit Limit Requested",
            "description": "Requested credit limit increase amount in cents - this is a delta value, so in order to increase the credit limit in R$ 10, the value must be 1000",
            "examples": [
              1000000,
              5000000
            ]
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "buyerTaxId",
          "sellerTaxId",
          "creditLimitRequestedCents"
        ],
        "title": "CreditLimitIncreaseRequestDTO"
      },
      "CreditLimitIncreaseResultDTO": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Credit Limit Increase Request ID",
            "description": "Unique identifier for the credit limit increase request",
            "examples": [
              "123e4567-e89b-12d3-a456-426614174000"
            ]
          },
          "buyerTaxId": {
            "type": "string",
            "title": "Buyer Tax ID",
            "description": "Brazilian CNPJ (tax ID) of the buyer who requested the increase",
            "examples": [
              "12345678000199"
            ]
          },
          "sellerTaxId": {
            "type": "string",
            "title": "Seller Tax ID",
            "description": "Brazilian CNPJ (tax ID) of the seller who approved the increase",
            "examples": [
              "12345678000199"
            ]
          },
          "creditLimitRequestedCents": {
            "type": "integer",
            "title": "Credit Limit Requested",
            "description": "Requested credit limit increase amount in cents - this is a delta value, so in order to increase the credit limit in R$ 10, the value must be 1000",
            "examples": [
              1000000,
              5000000
            ]
          },
          "creditLimitApprovedCents": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Limit Approved",
            "description": "Approved credit limit increase amount in cents",
            "examples": [
              1000000,
              5000000
            ]
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Status of the credit limit increase request: `Created`, `Pending`, `Approved`, `Partially Approved`, `Rejected`, `Failed`",
            "examples": [
              "Pending",
              "Approved",
              "PartiallyApproved",
              "Rejected",
              "Failed"
            ]
          },
          "reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reason",
            "description": "Reason for the current status, especially for Rejected or Failed statuses",
            "examples": [
              "Credit limit increase request expired after 1200 seconds",
              "Buyer is eligible for desired credit limit",
              "Internal error during analysis"
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "buyerTaxId",
          "sellerTaxId",
          "creditLimitRequestedCents",
          "status"
        ],
        "title": "CreditLimitIncreaseResultDTO"
      },
      "CreditUnderwritingParameters": {
        "properties": {
          "tax_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Tax Ids"
          },
          "seller_tax_id": {
            "type": "string",
            "title": "Seller Tax Id"
          }
        },
        "type": "object",
        "required": [
          "tax_ids",
          "seller_tax_id"
        ],
        "title": "CreditUnderwritingParameters"
      },
      "CreditUnderwritingRequestDTO": {
        "properties": {
          "buyerTaxId": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "title": "Buyer Tax ID",
            "description": "Valid Brazilian CNPJ with 14 characters",
            "examples": [
              "12345678901234"
            ]
          },
          "sellerTaxId": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "title": "Seller Tax ID",
            "description": "Valid Brazilian CNPJ with 14 characters",
            "examples": [
              "09876543210987"
            ]
          }
        },
        "type": "object",
        "required": [
          "buyerTaxId",
          "sellerTaxId"
        ],
        "title": "CreditUnderwritingRequestDTO"
      },
      "CreditUnderwritingResponseDTO": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Credit Underwriting ID",
            "description": "Unique identifier for the credit underwriting analysis request",
            "examples": [
              "123e4567-e89b-12d3-a456-426614174000"
            ]
          },
          "taxId": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "title": "Buyer Tax ID",
            "description": "Brazilian CNPJ (tax ID) of the buyer",
            "examples": [
              "12345678000199"
            ]
          },
          "sellerTaxId": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "title": "Seller Tax ID",
            "description": "Brazilian CNPJ (tax ID) of the seller",
            "examples": [
              "12345678000199"
            ]
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Current status of the underwriting process: `Pending`, `Failed`, `Rejected`, or `Finished`",
            "readOnly": true,
            "examples": [
              "Finished",
              "Pending",
              "Failed",
              "Rejected"
            ]
          },
          "reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reason",
            "description": "Reason for failure or rejection, if applicable. Provides human-readable explanation when status is `Failed` or `Rejected`",
            "readOnly": true,
            "examples": [
              null,
              "Insufficient credit history for requested increase",
              "Buyer is not eligible for underwriting"
            ]
          },
          "retryAfter": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Retryafter",
            "description": "Time after which the credit underwriting or onboarding can be retried",
            "readOnly": true,
            "examples": [
              "2025-06-10T19:10:13.788308",
              null
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "taxId",
          "sellerTaxId",
          "status",
          "reason",
          "retryAfter"
        ],
        "title": "CreditUnderwritingResponseDTO"
      },
      "DataLoggingProvidersEnum": {
        "type": "string",
        "enum": [
          "modelbit"
        ],
        "title": "DataLoggingProvidersEnum"
      },
      "DeviceCheck": {
        "properties": {
          "ip": {
            "type": "string",
            "title": "Ip"
          },
          "os": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Os"
          },
          "trueIp": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Trueip"
          },
          "memory": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Memory"
          },
          "gpuName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Gpuname"
          },
          "language": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Language"
          },
          "cpuCores": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cpucores"
          },
          "isMobile": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ismobile"
          },
          "gpuVendor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Gpuvendor"
          },
          "osVersion": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Osversion"
          },
          "screenDpi": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Screendpi"
          },
          "screenPpi": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Screenppi"
          },
          "screenWidth": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Screenwidth"
          },
          "screenHeight": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Screenheight"
          },
          "storageFree": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Storagefree"
          },
          "batteryLevel": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Batterylevel"
          },
          "localLanguage": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Locallanguage"
          },
          "isScreenTouch": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Isscreentouch"
          },
          "storageCapacity": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Storagecapacity"
          },
          "screenResolution": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Screenresolution"
          },
          "isBatteryCharging": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Isbatterycharging"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "ip"
        ],
        "title": "DeviceCheck"
      },
      "FraudAnalysisDecisionsEnum": {
        "type": "string",
        "enum": [
          "Approved",
          "Rejected",
          "ActionRequired"
        ],
        "title": "FraudAnalysisDecisionsEnum"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "OnboardingFieldsDTO": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Onboarding Status",
            "description": "Current status of the onboarding process",
            "examples": [
              "Pending",
              "Completed",
              "Failed",
              "Aborted"
            ]
          },
          "decisionUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Onboarding Decision URL",
            "description": "URL to access the detailed onboarding decision on Taktile",
            "examples": [
              "https://app.taktile.com/decide/display/decision?workspace_id=a43e25b9-3430-49d8-b95e-1e299b482fdc&flow_slug=master-e2e-config&version_id=9f78cdc3-b4d8-4d9b-b53a-42e88db68515&decision_id=b41ef6c3-484f-453c-88c8-894bb713d781"
            ]
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "OnboardingFieldsDTO"
      },
      "OrderChannelEnum": {
        "type": "string",
        "enum": [
          "Vtex",
          "SellerPlatform",
          "CredipayApi"
        ],
        "title": "OrderChannelEnum"
      },
      "OrderCheck": {
        "properties": {
          "amountInCents": {
            "type": "integer",
            "title": "Amountincents"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "title": "Createdat"
          },
          "numberOfItems": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Numberofitems"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "amountInCents",
          "createdAt"
        ],
        "title": "OrderCheck"
      },
      "OrderFraudAnalysisAction": {
        "properties": {
          "type": {
            "type": "string",
            "title": "Type"
          },
          "data": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Data"
          }
        },
        "type": "object",
        "required": [
          "type"
        ],
        "title": "OrderFraudAnalysisAction"
      },
      "OrderFraudAnalysisDecisionResponseDTO": {
        "properties": {
          "decision": {
            "$ref": "#/components/schemas/FraudAnalysisDecisionsEnum"
          },
          "actions": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/OrderFraudAnalysisAction"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Actions"
          }
        },
        "type": "object",
        "required": [
          "decision"
        ],
        "title": "OrderFraudAnalysisDecisionResponseDTO"
      },
      "OrderFraudAnalysisRequestDTO": {
        "properties": {
          "channel": {
            "$ref": "#/components/schemas/OrderChannelEnum"
          },
          "sellerSegmentId": {
            "type": "string",
            "title": "Sellersegmentid"
          },
          "buyerTaxId": {
            "type": "string",
            "title": "Buyertaxid"
          },
          "account": {
            "$ref": "#/components/schemas/AccountCheck"
          },
          "shippingAddress": {
            "$ref": "#/components/schemas/AddressCheck"
          },
          "order": {
            "$ref": "#/components/schemas/OrderCheck"
          },
          "browser": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/BrowserCheck"
              },
              {
                "type": "null"
              }
            ]
          },
          "device": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DeviceCheck"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "channel",
          "sellerSegmentId",
          "buyerTaxId",
          "account",
          "shippingAddress",
          "order"
        ],
        "title": "OrderFraudAnalysisRequestDTO"
      },
      "PostCreditUnderwritingDto": {
        "properties": {
          "parameters": {
            "$ref": "#/components/schemas/CreditUnderwritingParameters"
          }
        },
        "type": "object",
        "required": [
          "parameters"
        ],
        "title": "PostCreditUnderwritingDto"
      },
      "ProposalPricingDTO": {
        "properties": {
          "transaction_fee_percentage": {
            "type": "number",
            "maximum": 1,
            "minimum": 0,
            "title": "Transaction Fee Percentage"
          },
          "discount_rate_percentage": {
            "type": "number",
            "maximum": 1,
            "minimum": 0,
            "title": "Discount Rate Percentage"
          },
          "contribution_margin_percentage": {
            "type": "number",
            "maximum": 1,
            "minimum": 0,
            "title": "Contribution Margin Percentage"
          },
          "additional_fee_percentage": {
            "type": "number",
            "maximum": 1,
            "minimum": 0,
            "title": "Additional Fee Percentage"
          },
          "terms": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "title": "Terms"
          },
          "additional_terms": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "title": "Additional Terms"
          },
          "decision_url": {
            "type": "string",
            "title": "Decision Url"
          },
          "accepted": {
            "type": "boolean",
            "title": "Accepted",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "transaction_fee_percentage",
          "discount_rate_percentage",
          "contribution_margin_percentage",
          "terms"
        ],
        "title": "ProposalPricingDTO"
      },
      "ProposalRequestDTO": {
        "properties": {
          "parameters": {
            "$ref": "#/components/schemas/ProposalRequestParameters"
          }
        },
        "type": "object",
        "required": [
          "parameters"
        ],
        "title": "ProposalRequestDTO"
      },
      "ProposalRequestParameters": {
        "properties": {
          "tax_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Tax Ids"
          },
          "seller_tax_id": {
            "type": "string",
            "title": "Seller Tax Id"
          },
          "proposal_name": {
            "type": "string",
            "title": "Proposal Name"
          }
        },
        "type": "object",
        "required": [
          "tax_ids",
          "seller_tax_id",
          "proposal_name"
        ],
        "title": "ProposalRequestParameters"
      },
      "ScheduleProvisionalBuyersOnboardingRequestDTO": {
        "properties": {
          "buyer_tax_id": {
            "type": "string",
            "title": "Buyer Tax Id"
          },
          "payer_name": {
            "type": "string",
            "title": "Payer Name"
          },
          "delay_in_hours": {
            "type": "integer",
            "title": "Delay In Hours"
          },
          "retry_count": {
            "type": "integer",
            "title": "Retry Count"
          }
        },
        "type": "object",
        "required": [
          "buyer_tax_id",
          "payer_name",
          "delay_in_hours",
          "retry_count"
        ],
        "title": "ScheduleProvisionalBuyersOnboardingRequestDTO"
      },
      "SellerFieldsDTO": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Current status of the credit underwriting analysis",
            "examples": [
              "Pending",
              "Finished",
              "Failed",
              "Rejected"
            ]
          },
          "reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reason",
            "description": "Reason for a Failed or Rejected status",
            "examples": [
              "Internal error while running underwriting analysis",
              "Buyer is not eligible for credit"
            ]
          },
          "retryAfter": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Retry After",
            "description": "Timestamp indicating when the seller can retry the underwriting analysis",
            "examples": [
              "2024-03-21T10:30:00Z"
            ]
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "SellerFieldsDTO"
      },
      "TaktileWebhookResponseDTO": {
        "properties": {
          "version": {
            "type": "string",
            "title": "Version"
          },
          "time": {
            "type": "string",
            "title": "Time"
          },
          "type": {
            "$ref": "#/components/schemas/WebhookEventType"
          },
          "event": {
            "$ref": "#/components/schemas/WebhookEvent"
          }
        },
        "type": "object",
        "required": [
          "version",
          "time",
          "type",
          "event"
        ],
        "title": "TaktileWebhookResponseDTO"
      },
      "TriggerProvisionalBuyerOnboardingRequestDTO": {
        "properties": {
          "buyer_tax_id": {
            "type": "string",
            "title": "Buyer Tax Id"
          },
          "payer_name": {
            "type": "string",
            "title": "Payer Name"
          },
          "btg_request_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Btg Request Id"
          },
          "retry_count": {
            "type": "integer",
            "title": "Retry Count"
          }
        },
        "type": "object",
        "required": [
          "buyer_tax_id",
          "payer_name",
          "retry_count"
        ],
        "title": "TriggerProvisionalBuyerOnboardingRequestDTO"
      },
      "UnderwritingFieldsDTO": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Current status of the underwriting analysis",
            "examples": [
              "Pending",
              "Finished",
              "Failed"
            ]
          },
          "details": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Details",
            "description": "Additional details about the underwriting analysis - can be a complex nested object",
            "examples": [
              {
                "analysis_date": "2024-03-20",
                "risk_level": "low",
                "score": 85
              }
            ]
          },
          "decisionUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Decision URL",
            "description": "URL to access the detailed underwriting decision on Taktile",
            "examples": [
              "https://app.taktile.com/decide/display/decision?workspace_id=a43e25b9-3430-49d8-b95e-1e299b482fdc&flow_slug=test-vadu-flow&version_id=ea54589b-3108-4d46-8102-494601d4f1dd&decision_id=c31b95db-4fb6-4a96-b058-364c60dbf3d8"
            ]
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "UnderwritingFieldsDTO"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "WebhookEvent": {
        "properties": {
          "decision_id": {
            "type": "string",
            "title": "Decision Id"
          },
          "entity_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Entity Id"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "environment": {
            "type": "string",
            "title": "Environment"
          },
          "flow": {
            "type": "string",
            "title": "Flow"
          },
          "version": {
            "type": "string",
            "title": "Version"
          },
          "workspace": {
            "type": "string",
            "title": "Workspace"
          }
        },
        "type": "object",
        "required": [
          "decision_id",
          "entity_id",
          "status",
          "environment",
          "flow",
          "version",
          "workspace"
        ],
        "title": "WebhookEvent"
      },
      "WebhookEventType": {
        "type": "string",
        "enum": [
          "DecisionOutcome",
          "ManualReviewCaseCreation",
          "JobRunExecuted",
          "WebhookTest"
        ],
        "title": "WebhookEventType"
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CREDIPAY-API-KEY"
      }
    }
  },
  "security": [
    {
      "api_key": []
    }
  ]
}